
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="d-flex justify-content-between">
        <div>
            This is first div
        </div>
        <div>
            This is second div
        </div>
        <div>
            This is third div
        </div>
    </div>
</body>
</html>
